{% extends 'projects/base.html' %}
{% block title %}Restablecer contraseña{% endblock %}
{% load bootstrap3 %}
{% block body %}

<div class="main-container">
<div class="container form-container">
    <h3>¿Olvidó su contraseña?</h3>
    <p>Ingrese la dirección de correco electrónico con la cual se registró en la plataforma.</p>
    <form class="form-horizontal" action="" method="post">{% csrf_token %}
        <div class="form-group col-sm-12">
            {% bootstrap_form form layout='horizontal' size='small' show_label=False%}
        </div>
        <div class="form-group">
            <div class="col-sm-12" align="center">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </div>
    </form>
</div>
</div>

{% endblock %}
