{% extends 'projects/base.html' %}
{% block title %}Correo enviado{% endblock %}

{% block body %}

<br>
<div class="container form-container">
    <br>
    <p>
    En breve recibirá las instrucciones para el restablecimiento de la contraseña a la dirección de
    correo electrónico suministrada.
    </p>
    <p>
    Si no recibe las insrucciones, por favor asegúrese de que ha ingresado una dirección de correo válida y
    verifíque en la carpeta de spam.
    </p>
    <br>
</div>

{% endblock %}
