<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Briceño{% endblock %}</title>
    {% load static %}
    {% load permission_tags %}
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Baloo+Bhaijaan|Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'src/font-awesome/css/font-awesome.min.css' %}"/>

    {% block extrahead %}{% endblock %}

</head>
<body>
    <nav class="navbar navbar-default">
        <!--Logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="{% if request.resolver_match.url_name == 'home' %}navbar-brand active{% else %}navbar-brand{% endif %}" href="{% url 'home' %}">Briceño</a>
        </div>

        <!--items-->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% if request.resolver_match.url_name == 'maps' %}active{% else %}#{% endif %}">
                    <a href="{% url 'projects:maps' %}">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp; Mapa
                    </a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'report' %}active{% else %}#{% endif %}">
                    <a href="{% url 'projects:report' %}">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp; Reporte
                    </a>
                </li>
                {% if user|can:'view_projects' %}
                <li class="{% if request.resolver_match.url_name == 'projects-list' %}active{% else %}#{% endif %}">
                    <a href="{% url 'projects:projects-list' %}">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp; Proyectos
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="" style="padding-left: 15px; padding-right: 15px;">
                    <p class="nav navbar-text navbar-right">
                        {% if user.is_authenticated %}
                        Bienvenido(a), <a href="{% url 'entities:profile-update' user.id%}">{{ user.get_short_name }}</a>&nbsp;&nbsp;&nbsp;
                        {% else %}
                        Bienvenido, Invitado&nbsp;
                        {% endif %}
                    </p>
                </li>
                {% if user|can:'create_users' %}
                <li class="{% if request.resolver_match.url_name == 'register' %}active{% else %}#{% endif %}">
                    <a href="{% url 'entities:users' %}">
                        <span class="fa fa-users" aria-hidden="true"></span>&nbsp; Gestionar Usuarios
                    </a>
                </li>
                {% endif %}
                {% if user|can:'create_projects' %}
                <li class="{% if request.resolver_match.url_name == 'project-add' %}active{% else %}#{% endif %}">
                    <a href="{% url 'projects:project-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Agregar un Proyecto
                    </a>
                </li>
                {% endif %}
                <li class="">
                    {% if user.is_authenticated %}
                    <a href="{% url 'entities:logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Salir
                    </a>
                    {% else %}
                    <a href="{% url 'entities:login' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Ingresar
                    </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>


{% block body %}
{% endblock %}

</body>

<div class="navbar navbar-default navbar-bottom">
    <div class="navbar-text navbar-center">
        <p>Copyright &copy; Fundación Ideas para la Paz 2017 | Contacto Unidad de Paz: <a href="mailto:unidadpaz@briceno-antioquia.gov.co">unidadpaz@briceno-antioquia.gov.co</a></p>
    </div>
</div>
</html>
