{% extends 'projects/base.html' %}
{% block title %}Details{% endblock %}
{% load static %}
{% block extrahead %}


<style>

.items-list {
    list-style-type: none;
}

.items-list-item{
    margin:0 auto;
    display: block;
    text-align: center;
}

.report-element{
    font-size: 50px;
}

.small-report-element{
    padding-top: 15px;
    font-size: 25px;
}

div.gridcontainer
{
    line-height: 0;
    border-radius: 5px;
}

div.griditem
{
    display: inline-block;
    border-top: 1px solid #CCCCCC;
    border-bottom: : 1px solid #CCCCCC;
    border-radius: 0px;
    padding: 7px;
    margin: auto;
}


#page{
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

.section {
    height: 100%;
    padding-bottom: 10px;
}

</style>

<script type="text/javascript" src="{% static 'src/fusioncharts/js/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'src/fusioncharts/js/themes/fusioncharts.theme.fint.js' %}"></script>


<script>

FusionCharts.ready(function () {
    var topStores = new FusionCharts({
        type: 'bar2d',
        renderAt: 'chart-container',
        width: '100%',
        height: '100',
        dataFormat: 'json',
        dataSource: {
            "chart": {
                "yAxisName": "",
                "numberSuffix": " días",
                "paletteColors": "#0075c2",
                "bgColor": "#ffffff",
                "showBorder": "0",
                "labelFontSize": "15",
                "labelFont": "sans-serif",
                "showCanvasBorder": "0",
                "usePlotGradientColor": "0",
                "plotBorderAlpha": "10",
                "placeValuesInside": "1",
                "valueFontColor": "#ffffff",
                "showAxisLines": "0",
                "axisLineAlpha": "50",
                "divLineAlpha": "50",
                "alignCaptionWithCanvas": "0",
                "showAlternateVGridColor": "0",
                "captionFontSize": "14",
                "subcaptionFontSize": "14",
                "subcaptionFontBold": "0",
                "toolTipColor": "#ffffff",
                "toolTipBorderThickness": "0",
                "toolTipBgColor": "#000000",
                "toolTipBgAlpha": "80",
                "toolTipBorderRadius": "2",
                "toolTipPadding": "5",
                "yAxisMinValue": "0",
                "yAxisMaxValue": "{{final_delta}}",
                "paletteColors": "#950000",
            },

            "data": [
                {
                    "label": "",
                    "value": "{{current_delta}}"
                },
            ]
        }
    })
    .render();
});
</script>

{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="main-container">
<div class="container" id="page">

    <div class="row section">
        <div class="col-lg-12 gridcontainer">
            <div class="col-xs-12 col-lg-12 griditem"><h2><strong>Nombre del projecto:</strong><br>{{project.name}}</h2></div>
            <div class="col-xs-12 col-lg-12 griditem"><h2><strong>Creado por: </strong>{{project.created_by.organization}}</h2></div>
            <div class="col-xs-12 col-lg-12 griditem"><h4> <strong>Objetivo principal:</strong><br> {{project.main_goal}}</h4></div>
            <div class="col-xs-12 col-lg-6 griditem"><h4><strong>Interlocutor:</strong><br> {{project.representative}}</h4></div>
            <div class="col-xs-12 col-lg-6 griditem"><h4><strong>Línea del plan de desarrollo que impacta:</strong><br> {{project.lines_pd}}</h4></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <ul class="col-xs-12 col-lg-12 items-list">
                <li class="col-xs-6 col-lg-3 items-list-item">
                    Tipo de beneficiarios<br>
                    {% if project.beneficiary == "Individuos" %}
                    <i class="fa fa-user fa-4x" aria-hidden="true" title="Individupos"></i><br><h6>Individuos</h6>
                    {% elif project.beneficiary == "Familias" %}
                    <i class="fa fa-home fa-4x" aria-hidden="true" title="Familias"></i><br><h6>Familias</h6>
                    {% else %}
                    <i class="fa fa-university fa-4x" aria-hidden="true" title="Instituciones"></i><h6>Instituciones</h6>
                    {% endif %}
                </li>
                <li class="col-xs-6 col-lg-3 items-list-item">
                    Cantidad de beneficiarios
                    <p class="report-element" aria-hidden="true">{{ project.no_benef }}</p>
                </li>
                <li class="col-xs-12 col-lg-3 items-list-item">
                    Inversión
                    <p class="report-element" aria-hidden="true" id="budget"></p>
                </li>
                <li class="col-xs-12 col-lg-3 items-list-item">
                    Donante
                    <p class="small-report-element" aria-hidden="true">{% if project.donor %}{{ project.donor }}{% else %} Sin información{% endif %}</p>
                </li>
            </ul>
            <div class="col-xs-12 col-lg-12">
                <h4>Acerca de los beneficiarios:</h4>
                {% if project.beneficiary_comments  %}
                <p>{{project.beneficiary_comments}}</p>
                {% else %}
                <p>Aún no hay comentarios registrados.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row section">
        <div class="col-lg-12">
            <h4><strong>Cronograma general</strong></h4>
            <div id="chart-container"></div>
        </div>
    </div>
    <div class="row section">
          <div class="container col-lg-12">
            <h4><strong>Actividades programadas</strong></h4>
            <div class="panel-group" id="accordion">
                {% for task_element in project.tasks.all %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}"> <strong>Actividad</strong>: {{task_element.task}}</a>
                        </h4>
                    </div>
                    <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <strong>Observaciones</strong>:{% if task_element.comments %} {{task_element.comments}} {% endif %} <br>
                            <strong>Estado</strong>: {{task_element.completion}}<br>
                            <strong>Fecha de creación</strong>: {{task_element.added}}<br>
                            <strong>Última actualización</strong>: {{task_element.updated}}<br>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
          </div>
    </div>

    <div class="row section">
        <div class="container col-lg-12">
        <h4><strong>Galería del proyecto</strong></h4>
        <br>
        {% if project.images.all %}
            <div class="list-group">
                <div class="row">
                    {% for picture in project.images.all %}
                    <div class="col-sm-4 col-md-3 col-lg-2" style="padding-bottom: 15px;">
                        <a href="{{picture.image.url}}">
                        <img class="card-img-top img-fluid img-responsive thumbnail"
                            src="{{picture.image.url}}"
                            title="{{picture.comments}}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
        {% else %}
                <h4 style="padding-bottom: 15px;">No hay imágenes para mostrar</h4>
        {% endif %}
            </div>
        </div>
    </div>

</div>
</div>

<script>

// Format number
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
var val = parseInt('{{project.budget}}');
val = numberWithCommas(val);

var element = document.getElementById("budget");
element.innerHTML = "$"+val;

</script>


{% endblock %}
