{% extends 'projects/base.html' %}
{% block title %}Inicio{% endblock %}
{% load static %}

{% block extrahead %}
<!-- Custom CSS -->
<link href="{% static 'css/landing-page.css'%}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{% static 'src/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

{%endblock%}

{% block body %}

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="intro-container container">
        <div class="intro-message">
            <h1>Bienvenido a Briceño</h1>
            <h3>Plataforma de Integración de la Oferta de Cooperación</h3>
        </div>
    </div>
</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

    <div class="container" align="center">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Monitoreo a nivel veredal</h2>
                <p class="lead">En la pestaña Mapas podrás conocer las veredas que han sido
                    beneficiadas por los proyectos de cooperacione de las entidades
                     inscritas en la plataforma. <br><br>
                <a href="{% url 'projects:maps' %}">Ver mapas</a></p>
                <hr class="section-heading-spacer">                
            </div>
            <div class="col-lg-6 col-sm-6">
                <img class="img-responsive" src="{% static 'images/mapa.png'%}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container" align="center">

        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <img class="img-responsive" src="{% static 'images/dashboard.jpg'%}" alt="">
            </div>
            <div class="col-lg-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Tablero de reporte de proyectos</h2>
                <p class="lead">Encuentra en el tablero de reporte las instituciones presentes en el territorio, y
                    conoce cómo dichos proyectos impactan el Plan de Desarrollo del municipio.<br><br>
                <a href="{% url 'projects:report' %}">Ver reporte</a></p>
                <hr class="section-heading-spacer">
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>

{% endblock %}
