{% extends 'projects/base.html' %}
{% block title %}Inicio{% endblock %}
{% load static %}

{% block extrahead %}

<style>
    body {
        height: 100vh;
        width: 100%
    }
</style>

{% endblock %}

{% block body %}

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="10000" id="bs-carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
          <hgroup>
              <h1>Bienvenido a Briceño</h1>
              <h3>Esta es la página principal de Plataforma de Articulación de la Oferta Institucional de Cooperación del municipio de Briceño.
                  Esta herramienta ha sido creada para hacer un seguimiento a los proyectos y actividades que se llevan a cabo en
                  las diferentes veredas del municipio, y consiste en una herramienta para monitorear el estado
                  de dichos proyectos por parte de la Oficina de Paz y de los habitantes Briceño.</h3>
          </hgroup>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
            <h1>Monitoreo a nivel veredal</h1>
            <h3>Revisa el estado de los proyectos en ejecución en cualquier vereda del municipio.</h3>
        </hgroup>
        <a class="btn btn-hero btn-lg" role="button" href="#">Ir a mapas</a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
            <h1>Tablero de reporte</h1>
            <h3>Encuentra en el tablero de reporte las instituciones en terreno, proyectos, objetivos, entre otros.</h3>
        </hgroup>
        <a class="btn btn-hero btn-lg" role="button" href="#">Ver reporte</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
