{% extends 'projects/base.html' %}
{% load bootstrap3 %}
{% load bootstrap_dynamic_formsets %}
{% block title %}Agregar Nuevo Proyecto{% endblock %}

{% block body %}

<div class="main-container">
<div class="container form-container">
    <div class="col-sm-12 col-lg-12">
        <h3>Agregar nuevo proyecto</h3>
        <br>
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group col-sm-12">
                {% bootstrap_form form layout='horizontal' size='small'%}&nbsp;
                <h3>Agregar actividades del proyecto</h3>
                {% bootstrap_dynamic_formset task_formset layout='inline'%}&nbsp;
            </div>
            <div class="form-group">
                <div class="col-sm-12" align="center">
                    <button type="submit" class="btn btn-success button-background">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}
