{% extends 'projects/base.html' %}
{% block title %}Reporte{% endblock %}

{% block extrahead %}

<style>
    #header-container {
        display: none;
    }

    #loading {
        display: block;
        position: relative;
        z-index: 100;
        height: calc(100vh - 100px);
        width: 100%;
        background-color: #fff;
        background-image: url("/static/images/ajax-loader2.gif");
        background-repeat: no-repeat;
        background-position: center;
    }
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript" src="/static/src/fusioncharts/js/fusioncharts.js"></script>
<script type="text/javascript" src="/static/src/fusioncharts/js/themes/fusioncharts.theme.fint.js"></script>

<script type="text/javascript">

        $('#loading').show();
            var endpoint = '/projects/reporte/data/'
            function data_ajax(){
            return $.ajax({
                method:"GET",
                url:endpoint,
                success: function(data){
                    document.getElementById("veredas").innerHTML = data.no_veredas.toString();
                    document.getElementById("projects").innerHTML = data.no_projects.toString();
                    document.getElementById("entities").innerHTML = data.no_entities.toString();
                    // Chart for representatives
                    FusionCharts.ready(function(){
                        var newdata= {
                            "chart": {
                                "caption": "Organizaciones interlocutoras",
                                "enableSmartLabels": "1",
                                "manageLabelOverflow":"1",
                                "skipOverlapLabels": "1",
                                "placeValuesInside":"1",
                                "decimals": "1",
                                "useDataPlotColorForLabels": "1",
                                //Theme
                                "theme": "fint",
                                "paletteColors" : "#F8605F, #F64141, #F40D0E, #F40303, #F6BDB6"
                            },
                            "data": data.representative
                        };

                        var fusioncharts = new FusionCharts({
                            type: 'pie2d',
                            renderAt: 'interlocutores_chart',
                            width: '100%',
                            height: '300',
                            dataFormat: 'json',
                            dataSource: newdata,
                        });
                        fusioncharts.render();
                    });

                    //Chart for state of projects
                    FusionCharts.ready(function(){
                        var newdata= {
                            "chart": {
                                "caption": "Estado de los proyectos",
                                "enableSmartLabels": "1",
                                "manageLabelOverflow":"1",
                                "skipOverlapLabels": "1",
                                "placeValuesInside":"1",
                                "decimals": "1",
                                "useDataPlotColorForLabels": "1",
                                "showValues":"0",
                                //Theme
                                "theme": "fint",
                                "paletteColors" : "#F8605F"
                            },
                            "data": data.statuses
                        };

                        var fusioncharts = new FusionCharts({
                            type: 'column2d',
                            renderAt: 'status_chart',
                            width: '100%',
                            height: '300',
                            dataFormat: 'json',
                            dataSource: newdata,
                        });
                        fusioncharts.render();
                    });

                    //Chart for investment per organization
                    FusionCharts.ready(function(){
                        var newdata= {
                            "chart": {
                                "caption": "Inversión por organización",
                                "enableSmartLabels": "1",
                                "manageLabelOverflow":"1",
                                "skipOverlapLabels": "1",
                                "placeValuesInside":"1",
                                "decimals": "1",
                                "useDataPlotColorForLabels": "1",
                                "showValues":"0",
                                //Theme
                                "theme": "fint",
                                "paletteColors" : "#F8605F"
                            },
                            "data": data.budget_per_organization
                        };

                        var fusioncharts = new FusionCharts({
                            type: 'column2d',
                            renderAt: 'bud_org_chart',
                            width: '100%',
                            height: '300',
                            dataFormat: 'json',
                            dataSource: newdata,
                        });
                        fusioncharts.render();
                    });

                    //Chart for projects per organization
                    FusionCharts.ready(function(){
                        var newdata= {
                            "chart": {
                                "caption": "Cantidad de proyectos por organización",
                                "enableSmartLabels": "1",
                                "manageLabelOverflow":"1",
                                "skipOverlapLabels": "1",
                                "placeValuesInside":"1",
                                "decimals": "1",
                                "useDataPlotColorForLabels": "1",
                                "showValues":"0",
                                //Theme
                                "theme": "fint",
                                "setAdaptiveYMin":"0",
                                "paletteColors" : "#F8605F"
                            },
                            "data": data.projects_per_organization
                        };

                        var fusioncharts = new FusionCharts({
                            type: 'column2d',
                            renderAt: 'proj_org_chart',
                            width: '100%',
                            height: '300',
                            dataFormat: 'json',
                            dataSource: newdata,
                        });
                        fusioncharts.render();
                    });

                    //Chart for type of beneficiary
                    FusionCharts.ready(function(){
                        var newdata= {
                            "chart": {
                                "caption": "Tipos de destinatarios",
                                "enableSmartLabels": "1",
                                "manageLabelOverflow":"1",
                                "skipOverlapLabels": "1",
                                "placeValuesInside":"1",
                                "decimals": "1",
                                "useDataPlotColorForLabels": "1",
                                "showValues":"0",
                                //Theme
                                "theme": "fint",
                                "paletteColors" : "#F8605F, #F64141, #F40D0E, #F40303, #F6BDB6  "
                            },
                            "data": data.beneficiary
                        };

                        var fusioncharts = new FusionCharts({
                            type: 'pie2d',
                            renderAt: 'tipo_benef_chart',
                            width: '100%',
                            height: '300',
                            dataFormat: 'json',
                            dataSource: newdata,
                        });
                        fusioncharts.render();
                    });

                    //Chart impact on PD lines
                    FusionCharts.ready(function(){
                        var newdata = {
                            "chart": {
                                "caption": "Impacto en las líneas del PD",
                                "captionFontSize": "14",
                                "subcaptionFontSize": "14",
                                "baseFontColor": "#333333",
                                "baseFont": "Helvetica Neue,Arial",
                                "subcaptionFontBold": "0",
                                "paletteColors": "#008ee4,#6baa01",
                                "bgColor": "#ffffff",
                                "radarfillcolor": "#ffffff",
                                "showBorder": "0",
                                "showShadow": "0",
                                "showCanvasBorder": "0",
                                "legendBorderAlpha": "0",
                                "legendShadow": "0",
                                "divLineAlpha": "10",
                                "usePlotGradientColor": "0",
                                "paletteColors" : "#F8605F"
                            },
                            "categories": data.lineas_pd.categories,
                            "dataset": data.lineas_pd.dataset
                            }

                        var fusioncharts = new FusionCharts({
                            type: 'radar',
                            renderAt: 'lineaspd_chart',
                            width: '100%',
                            height: '300',
                            dataFormat: 'json',
                            dataSource: newdata,
                        });
                        fusioncharts.render();
                    });

                },
                error: function(data){
                    console.log("error")
                    console.log(error_data)
                }
            })
        }

    $.when(data_ajax()).done(function() {
        $('#loading').hide();
        $('#header-container').show();
    });

</script>

<style>
hr {
    display: block;
    border: 0;
    border-top: 3px solid #003300;
    margin: 0 0;
    padding: 0px;
}
.container {
    font-family: 'Open Sans', sans-serif;
}

</style>

{% endblock %}

{% block body %}


<div id="loading"></div>
<div class="container" id="header-container">
    <div class="row">
        <div class="col-sm-3" align="center">
            <img src="/static/images/escudo.svg" width="150" height="150">
        </div>
        <div class="col-sm-6" align="center" id="report-title">
            <h2>Plataforma de Articulación de la Oferta Institucional de Cooperación en Briceño</h2>
        </div>
        <div class="col-sm-3" align="center">
            <img src="/static/images/logo.svg" width="150" height="150">
        </div>
    </div>
    <hr style="border-top: 3px solid rgba(244, 3, 3, 0.75);">
    <div class="row" align="center">
        <h2>Tablero de Seguimiento</h2>
    </div>
    <hr style="border-top: 3px solid rgba(244, 3, 3, 0.75);">
    <div class="row" align="center">
            <div class="col-sm-4">
                <h3>Proyectos</h3>
                <h3 id="projects"></h3>
            </div>
            <div class="col-sm-4">
                <h3>Entidades</h3>
                <h3 id="entities"></h3>
            </div>
            <div class="col-sm-4">
                <h3>Veredas cubiertas</h3>
                <h3 id="veredas"></h3>
            </div>
    </div>
    <hr style="border-top: 3px solid rgba(244, 3, 3, 0.75);">
</div>
<div class="container">
    <div class="col-sm-6 col-md-4"  align="center" id="proj_org_chart"></div>
    <div class="col-sm-6 col-md-4" align="center" id="bud_org_chart"></div>
    <div class="col-sm-6 col-md-4" align="center" id="status_chart"></div>
    <div class="col-sm-12 col-md-6" align="center" id="interlocutores_chart"></div>
    <div class="col-sm-12 col-md-6" align="center" id="tipo_benef_chart"></div>
    <div class="col-sm-12" align="center" id="lineaspd_chart"></div>
</div>
{% endblock %}
