{% autoescape off %}

Su cuenta ha sido autorizada y creada en la Plataforma de Integración de Cooperación. Para activar la cuenta haga click en el siguiente link:

http://{{ domain }}{% url 'entities:activate' uidb64=uid token=token %}

Usuario: {{ user.username }}
Contraseña: 654321+*

Por la seguridad de su información recomendamos cambiar la contraseña cuanto antes haciendo uso del link ¿Olvidó su contraseña? Si el enlace anterior no funciona, por favor copie y pegue la URL en una nueva ventana de su navegador.

{% endautoescape %}
