{% extends 'projects/base.html' %}
{% load bootstrap3 %}
{% block title %}Iniciar sesión{% endblock %}

{% block extrahead %}

{% endblock %}

{% block body %}
<div class="container small-form-container">
    <div class="col-sm-12 col-lg-12">
        <h3>Iniciar sesión</h3>
        <br>
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group col-sm-12">
                {% bootstrap_form form size="small" layout="horizontal"%}
                <a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a>
            </div>
            <div class="form-group">
                <div class="col-sm-12" align="center">
                    <button type="submit" class="btn btn-success">Entrar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
