{% extends 'projects/base.html' %}
{% load bootstrap3 %}
{% block title %}Editar perfil{% endblock %}

{% load static %}
{% block body %}

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if not updated%}
                    <h3>Editar perfil</h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="form-group col-sm-12">
                            {% bootstrap_form user_form layout='horizontal' size='small'%}
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10" align="center">
                                <button type="submit" class="btn btn-success">Actualizar</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <h3>Su perfil fue actualizado correctamente</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
